@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
body,html {
  background-color:#f6ec66;
}
body {
  font-family: "Arial", sans-serif;
}

#main-doc {
  background: #f6ec66;
  color: #000;
}
h1 {
  font-family: "Source Sans Pro", sans-serif;
}
#navbar {
  background-color: #393e46;
  font-family: "Source Sans Pro", sans-serif;
  height: 150px;
  border: 1px dotted black;
  overflow: auto;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.nav-link {
  text-transform: lowercase;
  font-size: 13px;
  text-decoration: none;
  text-align:center;
  color: #f1f1f1;
  display: block;
}
.code {
  background-color: #393e46;
  color: #fff;
  margin: 30px;
}

h2 {
  color: #f1f1f1;
  text-align: center;
}
.main-section {
  font-family: "Source Sans Pro", sans-serif;
}

#navbar a:hover {
  color: #f6ec66;
}
#Introduction {
  margin-top: 150px;
}
#What_you_should_already_know {
  padding-top: 150px;
}
#JavaScript_and_Java {
  padding-top: 150px;
}
#Hello_world {
  padding-top: 150px;
}
#Variables {
  padding-top: 150px;
}
#Declaring_variables {
  padding-top: 150px;
}
#Variable_scope {
  padding-top: 150px;
}
#Global_variables {
  padding-top: 150px;
}
#Constants {
  padding-top: 150px;
}
#Data_types {
  padding-top: 150px;
}
#if...else_statement {
  padding-top: 150px;
}
#while_statement {
  padding-top: 150px;
}
#Function_declarations {
  padding-top: 150px;
}
#Reference {
  padding-top: 150px;
}

@media (min-width: 600px) {
  #navbar {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #393e46;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: justify;
  }
  #navbar a {
    padding: 6px 8px 6px 6px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
   
  }
  #main-doc {
    margin-left: 230px; /* Same as the width of the navbar */
    font-size: 28px; /* Increased text to enable scrolling */
  }
  #navbar h2 {
    font-size: 16px;
  }
  #Introduction {
    margin-top: 0px;
  }
  h1 {
    margin: 0px;
  }
  #What_you_should_already_know {
    padding-top: 100px;
  }
  #JavaScript_and_Java {
    padding-top: 100px;
  }
  #Hello_world {
    padding-top: 100px;
  }
  #Variables {
    padding-top: 100px;
  }
  #Declaring_variables {
    padding-top: 100px;
  }
  #Variable_scope {
    padding-top: 100px;
  }
  #Global_variables {
    padding-top: 100px;
  }
  #Constants {
    padding-top: 100px;
  }
  #Data_types {
    padding-top: 100px;
  }
  #if...else_statement {
    padding-top: 100px;
  }
  #while_statement {
    padding-top: 100px;
  }
  #Function_declarations {
    padding-top: 100px;
  }
  #Reference {
    padding-top: 100px;
  }
  .main-section {
    font-size: 16px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .nav-link {
  text-transform: lowercase;
  font-size: 13px;
  text-decoration: none;
  text-align:justify;
  color: #f1f1f1;
  display: block;
}
}

